extends ./_layout.pug
block append title
  title 點數抽很大！ | Happy GO x 明台產物保險

block append content
  .container
    .header
      .wrapper
        img.logo(src="./assets/images/logo.png", alt="") 
    .banner
      .ribbon
        img(src="./assets/images/bg_ribbon-01.png", alt="")
      .wrapper
        .main
          img.slot(src="./assets/images/kv_img.png", alt="")
          img.bg(src="./assets/images/kv_bg.jpg", alt="")
        .cont
          img(src="./assets/images/img_table-01.png", alt="")
    .mainContent
      .ribbon
        img(src="./assets/images/bg_ribbon-02.png", alt="")
      .wrapper
        .frame
          .cont
            ul
              li
                img.icon(src="./assets/images/icon-car.png", alt="")
                img.item(src="./assets/images/img_item-car.png", alt="")
                a.btn(href="https://www.msig-mingtai.com.tw/MobileWeb/Car/Insure/StepChoose?utm_campaign=car&utm_medium=button&utm_source=2021Q1", target="_blank")
                  img(src="./assets/images/btn-item.png", alt="") 
              li
                img.icon(src="./assets/images/icon-moto.png", alt="")
                img.item(src="./assets/images/img_item-moto.png", alt="")
                a.btn(href="https://www.msig-mingtai.com.tw/MobileWeb/Motor/Insure/StepChoose?utm_campaign=motor&utm_medium=button&utm_source=2021Q1", target="_blank")
                  img(src="./assets/images/btn-item.png", alt="")
            .info
              img.table(src="./assets/images/img_table-02.png", alt="")
              img.title(src="./assets/images/img_info_title.png", alt="")
              .txt
                | 本公司將於抽獎後7日內於網路投保官網 (
                a.link(href="https://www.msig-mingtai.com.tw/MobileWeb", target="_blank") https://www.msig-mingtai.com.tw/MobileWeb
                | ) 公布得獎名單。得獎者可於名單公布後的次月月底前獲得HAPPY GO點數，本活動不另行以Email方式通知要保人(以上稱得獎者)。
              a.btn(href="https://www.msig-mingtai.com.tw", target="_blank")
                img(src="./assets/images/btn-info.png", alt="")
    .note
      .wrapper
        ul
          li 注意事項
          li 1.  活動內容如有任何異動將公布於本活動網站，本公司享有對本活動最終解釋及更改之權利。
          li 2.  獎項實際金額以本公司購入當時之金額為準，所有獎項不得要求折換現金或兌換其他獎品或優惠。如因不可歸責於本公司之因素，致商品獎項必須變動時，本公司保留更換為等值獎項之權利。
          li 
            | 3. 所有獎項統一於網路投保官網(
            a.link(href="https://www.msig-mingtai.com.tw/MobileWeb", target="_blank") https://www.msig-mingtai.com.tw/MobileWeb
            | )公布，得獎者投保填寫資料須與HAPPY GO個人資料相同才能進行贈點。若投保填寫資料導致無法核對將無法領取，視同得獎者放棄獎項，不再另行通知及補發。
    .footer
      .wrapper
        p @ 2021 Copyright MSIG Mingtai Insurance CO.,LTD, All Rights Reserved.
        ul
          li 總公司：臺北市仁愛路四段一號
          li 營業時間：週一至週五早上8:30至下午5:30
          li 電話：886-2-2772-5678
        ul
          li 網路投保服務專線：0800-069-889
          li 客戶服務專線：0800-528-528
          li 24小時道路救援專線：0800-078-888
        p 最佳瀏覽器版本： IE11 以上、google chrome46 以上、safari 5.0 以上、iOS8 以上、android 6.0 